/*font family*/
$primary-font: "Roboto";

/*color*/
$white-color: #fff;
$white-color-2: #F7F7FA;
$black-color: #000;
$black-color-2: #1F1F1F;
$black-color-3: #1C1C28;
$light-gray-color: #F7F7FA;
$light-gray-color-2: #F5F5F5;
$light-gray-color-3: #808080;
$backgorund-border: #F7F7FABF;
$pink-color: #E50695;
$green-color: #008632;
$blue-color: #1246CE;





// Path
$fonts-family: "../fonts";
$image-path: "../images";